.darkcyan {
  color: darkcyan;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  border: 1px solid lightcyan;
  padding: 16px;
  background-color: darkcyan;
  font: inherit;
  color: white;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: lightgrey;
  color: black;
}

.Cockpit button.dimgray {
  background-color: dimgray;
}

.Cockpit button.dimgray:hover {
  background-color: steelblue;
  color: white;
}
